.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url(/backgroud.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.landingPageContainer nav {
    padding-inline:1.2rem;
    padding-block: 1.6rem ;
    display: flex;
    justify-content: space-between;
}

.landingPageContainer nav h2{
    font-size: 2rem;
}

.landingPageContainer nav .navList{
    display: flex;
    gap:3rem;
}

.landingMainContainer{
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem ;
    height: 70vh;
    align-items: center;
}

.landingMainContainer div img {
    /* height: 35rem; */
    height: 80vh;
    width: auto;
}

.landingMainContainer > div:nth-child(1) {
    font-size: 1.8rem;
}

.landingMainContainer div div[role='button'] {
    background-color: rgba(234, 155, 9, 0.894);
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
}



.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}